services:
  - type: web
    name: sitrabcam
    runtime: node
    plan: free
    buildCommand: npm install && npm run build
    startCommand: npm start
    envVars:
      - key: NODE_VERSION
        value: 18
      - key: NEXT_PUBLIC_SITE_URL
        value: https://sitrabcam.com
    autoDeploy: true

